
#hello:hover {
    letter-spacing: 0.8em;
    background-color: #708090;
  }
  
  #hello {
    color: white;
  }
  button {
    height: 4em;
    width: 30%;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color:#B0C4DE ;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
   
  }
body {
    background-color: lavenderblush;
    color: lightpink;
}  
    h1  {
        font-size: 20px;

    }
    p   {
        font-size: 12px;
        color: palevioletred;
    }
.div    {
    width: 100px;
    height: 100px;
    border: dotted; border-width: 2px;
}
